@font-face {
  font-family: 'Lars';
  src: url('Lars-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lars Mono';
  src: url('Lars-Mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #3c4046;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #212121;
  }
}

h1,
h2 {
  font-family: 'Lars', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p,
a {
  font-family: 'Lars', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  color: inherit;
}

p {
  margin-bottom: 24px;
  line-height: 1.7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul>li {
  margin-bottom: 16px;
}

ul>li>a {
  font-size: 1.2rem;
  color: #90949a;
  text-decoration: none;
}

.about {
  font-size: 1.5rem;
}

.site-title {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Lars Mono', monospace;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin-bottom: 32px;
}

.fade-in-dramatic {
  opacity: 0;
  animation: fadeInDramatic 0.9s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 1s;
}

@keyframes fadeInDramatic {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-on-load {
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInUp 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.animate-on-load:nth-child(1) {
  animation-delay: 0.1s;
}

.animate-on-load:nth-child(2) {
  animation-delay: 0.4s;
}

.animate-on-load:nth-child(3) {
  animation-delay: 0.6s;
}

.animate-on-load:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

::-webkit-scrollbar {
  display: none;
}