---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Home"
---
</style>
<BaseLayout title={title}>
    <main>
      <h1 class="animate-on-load">Hi,</h1>
      <p class="animate-on-load margin-bottom-64 about">
        I’m Cole, an iOS engineer at <a href="https://square.com">Square</a>, previously <a href="https://tryfi.com">Fi</a>. I’m passionate about creating beautiful, user-friendly mobile experiences. When I’m not at the keyboard, I enjoy reading, running, hiking, and photography.
      </p>
      <!-- <p class="animate-on-load margin-bottom-64 about">
        I’m Cole, an iOS engineer at <a href="https://toasttab.com">Toast</a>, previously <a href="https://square.com">Square</a>. I’m passionate about creating beautiful, user-friendly mobile experiences. When I’m not at the keyboard, I enjoy reading, running, hiking, and photography.
      </p> -->
      <div class="animate-on-load">
        <h2>Connect</h2>
        <ul>
          <li>
            <a href="https://github.com/colealanroberts">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cole-roberts/">LinkedIn</a>
          </li>
          <li>
            <a href="mailto:cole.alan.roberts@gmail.com">cole.alan.roberts@gmail.com</a>
          </li>
        </ul>
      </div>
    </main>
</BaseLayout>
