---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "mom"
---

<BaseLayout title={title} hideNavigation={true} hideBranding={true}>
    <main>
      <div class="animate-on-load margin-bottom-64 about">
          <p>Mom,</p>
          <p>I still remember when you helped buy my first MacBook. I had wanted to build iPhone games and while I never built any games, that computer allowed me to pursue graphic design and programming. I can't thank you enough for believing in me all those years ago.</p>
          <p>As a token of my appreciation and love for you, here's my way of saying thank you.</p>
          <p>Love,<br>Cole</p>
      </div>
    </main>
</BaseLayout>
