<style>
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 32px 0 32px 0;
    font-family: 'Lars Mono';
}
</style>
<nav class="navigation">
    <ul class="fade-in-dramatic">
        <li>coleroberts.xyz</li>
    </ul>
</nav>
