<style>
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin: 16px 0 32px 0;
}

.navigation-list {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 24px;
}

.navigation-item {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
</style>
<nav class="navigation">
    <div class="site-title fade-in-dramatic">cr</div>
</nav>
