<style>
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 32px;
}

.navigation-list {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 24px;
}

@media (max-width: 600px) {
    .navigation-list {
        display: none;
    }
}

.navigation-item {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
</style>
<nav class="navigation">
    <div class="site-title fade-in-dramatic">cr</div>
    <ul class="navigation-list">
        <!-- <li><a href="/" class="navigation-item">home</a></li> -->
        <!-- <li><a href="/about/" class="navigation-item">about</a></li> -->
      </ul>
</nav>
